.LabelValue {
  margin-top: 32px;

  &-label,
  &-value {

    .loading & {
      display: flex;
      color: rgba(0, 0, 0, 0);

      &:before {
        display: block;
        width: 80px;
        height: 18px;
        margin: 2px 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
        background-size: 300% 100%;
        content: '';
        animation: loadingGradient 3s linear infinite;
        flex-shrink: 0;
      }
    }
  }

  &-label {
    font-weight: bold;
  }

  &-value {

    .loading &:before {
      width: 120px;
    }
  }
}

@keyframes loadingGradient {
  0% {
    background-position: 150% 0%;
  }

  100% {
    background-position: -150% 0%;
  }
}
